[submodule "spire-api-sdk"]
	path = spire-api-sdk
	url = git@github.com:spiffe/spire-api-sdk.git
[submodule "enclaver/spire-api-sdk"]
	path = enclaver/spire-api-sdk
	url = https://github.com/spiffe/spire-api-sdk.git
